/* Coolors Exported Palette - coolors.co/dd7373-fafaff-ed254e-273469-1e2749 */

/* HSL */
$color1: hsla(0%, 61%, 66%, 1);
$color2: hsla(240%, 100%, 99%, 1);
$color3: hsla(348%, 85%, 54%, 1);
$color4: hsla(228%, 46%, 28%, 1);
$color5: hsla(227%, 42%, 20%, 1);

/* RGB */
$color1: rgba(221, 115, 115, 1);
$color2: rgba(250, 250, 255, 1);
$color3: rgba(237, 37, 78, 1);
$color4: rgba(39, 52, 105, 1);
$color5: rgba(30, 39, 73, 1);
